<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220556464358-nceha9i2ncvjpsgt75e7co8pnd9l3u68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220556464358-nceha9i2ncvjpsgt75e7co8pnd9l3u68</string>
	<key>API_KEY</key>
	<string>AIzaSyDVwXcJ_qSoNm6iRGo0skGmnqBtATh0-4c</string>
	<key>GCM_SENDER_ID</key>
	<string>220556464358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.currencyconverterapp</string>
	<key>PROJECT_ID</key>
	<string>currency-converter-2fb1f</string>
	<key>STORAGE_BUCKET</key>
	<string>currency-converter-2fb1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220556464358:ios:db2a0ef4007d7416f0ab27</string>
</dict>
</plist>